
/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

color:
#FFE492 Login
#4F9CF9 Try whitepace free
#043873 section


*/


/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* 
Basic css 
*/

body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #ddd;
  color: #fff;
  line-height: 1.7;
}
.theme-button{
  background: #4F9CF9;
  border-radius: 8px;
  padding: 16px 24px !important;
  text-align: center;
  text-decoration: none;
  color: #fff;
  display: inline-block;
}
.theme-button:hover{
  color: #fff;
}

.theme-button-login{
  background: #FFE492;
  color: #043873 !important;
  border-radius: 8px;
  padding: 16px 24px !important;
  text-align: center;
}
.theme-button img{
  margin-left: 10px;
}

.theme-text h3{
  font-size: 63px;
  font-weight: 700;
  margin-bottom: 24px;
}

.theme-text h3 span{
  position: relative;
z-index: 1;
}
.theme-text h3 span::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 63px;
  left: 0;
  bottom: -9px;
  z-index: -1;
  background-image: url(img/element.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.theme-text p{
  margin-bottom: 60px;
}





/* 
Header CSS
 */

 .header-area{
  background-color: #043873;
  padding: 16px 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  
 }

 .header-area .theme-button{
  margin-left: 24px;
 }
 .header-area .theme-button-login{
  margin-left: 24px;
 }

.menu{
  color: #fff;
  padding: 16px 24px;
  margin-left: 24px;
}

.header-area .navbar-toggler{
border: none;
box-shadow: none;
}




/* 
Hero Area CSS
*/
.hero-area{
  background-image: url(img/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding: 140px 0;
}

.hero-text h2{
  font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
letter-spacing: -0.02em;

}

.hero-area p {
  margin-bottom: 60px;
}




/* 
Management CSS Area
*/
.management-area{
  padding: 140px 0;
  background-color: #fff;
  color: #212529;
}

.management-area .project-mng{
  margin-bottom: 50px;
}
.theme-text{
  margin-right: 30px;
}
.management-image{
  margin-left: 30px;
}
.management-area .work-tog{
  margin-top: 50px;
}
.work-image{
  margin-right: 50px;
}
.work-text{
  margin-left: 50px;
}

/* 
Extention Area Css
*/

.extention-area{
  background-color: #043873;
  padding: 140px 0;
}

/* 
Custom Area Css
*/

.custom-area{
  background-color: #fff;
  padding: 140px 0;
  color: #212529;
}

.custom-area .theme-text{
  margin-left: 50px;
}
.custom-image{
  margin-right: 48px;
}

/* 
Pricing Area Css
*/
.pricing-area{
  padding: 220px 0;
  background-color: #fff;
  color: #212529;
}
.pricing-area .theme-text{
  margin-bottom: 60px;
}
.single-pricing{
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 10px;
  padding: 40px 44px;
  transition: .8s;
}

.single-pricing:hover{
  background: #043873;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: 80px 44px;
  color: #fff;
}


.single-pricing h5{
  font-size: 24px;
  font-weight: 500;
}
.single-pricing h3{
  font-size: 36px;
  font-weight: 700;
  margin: 25px 0;
}

.single-pricing:hover h3{
  color: #FFE492;
}

.single-pricing ul{
  margin: 25px 0;
  padding: 0;
  list-style: none;
}
.single-pricing ul li{
  margin-bottom: 28px;
}
.single-pricing ul li:last-child{
  margin: 0;
}

.single-pricing a{
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 8px;
  padding: 16px 40px;
  color: #212529;
}
.single-pricing:hover a{
  background-color: #4F9CF9;
}

/* 
Work Area CSS
*/
.work-area{
  padding: 140px 0;
  background-color: #043873;
  color: #fff;
}






@media (max-width:991px){
  .header-area .theme-button{ 
    margin-left: 0px;
   
  }
  .header-area .theme-button-login{
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .menu{
    padding-left: 0;
  }
  .header-area .nav-link{
    position: relative;
  }
  .header-area .nav-link::after{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

  .hero-area{
    padding: 80px 0;
  }
  .hero-text{
    text-align: center;
  }
  .hero-text h2{
    font-size: 36px;
  }

  .hero-area .hero-image{
    margin-top: 90px;
  }

  .management-area {
    text-align: center;
    padding: 80px 0;
  }
  .management-area .theme-text h3{
    font-size: 36px;
    
  }
  .theme-text{
    margin-right: 0;
  }
  .management-area .theme-text a{
    margin-bottom: 50px;
    
  }
  .management-image{
    margin-left: 0;
  }

  .extention-area {
    text-align: center;
    padding: 80px 0;
  }
  .extention-area .theme-text h3{
    font-size: 36px;
    
  }
  .extention-area .theme-text{
    margin-right: 0;
  }
  .extention-area .theme-text a{
    margin-bottom: 50px;
    
  }
  .extention-image{
    margin-left: 0;
  }
  
  .work-image{
    margin-right: 0;
    margin-top: 60px;
  }
  .work-text{
    margin-left: 0;
    margin-top: 60px;
  }
  .custom-area{
    text-align: center;
     padding: 80px 0;
  }
  .custom-area .theme-text h3{
    font-size: 36px;
  }
  .custom-image{
    margin-bottom: 50px;
  }
  .custom-area .theme-text{
    margin-left: 0;
  }
  .custom-image{
    margin-right: 0;
  }

  .pricing-area {
    /* text-align: center; */
    padding: 80px 0;
  }
  .pricing-area .theme-text h3{
    font-size: 36px;
    
  }
  .pricing-area .theme-text{
    margin-right: 0;
  }
  .offset-2 {
    margin-left: 0;
}
.single-pricing{
  margin-bottom: 30px;
}

.work-area{
  text-align: center;
   padding: 80px 0;
}
.work-area .theme-text h3{
  font-size: 36px;
}

}
  
  